fastapi==0.110.1
uvicorn==0.25.0
pandas==3.0.1
numpy==2.4.2
yfinance==1.2.0
pandas-ta
requests==2.32.5
beautifulsoup4==4.14.3
python-dotenv==1.2.1
python-multipart==0.0.22
pydantic==2.12.5
httpx==0.28.1
flask-cors
google-generativeai==0.8.6
openai==1.99.9
pymongo==4.5.0
motor==3.3.1
