fastapi
uvicorn
pandas
yfinance
https://github.com/cgohlke/talib-build/releases/download/v0.4.32/TA_Lib-0.4.32-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
requests
beautifulsoup4
python-dotenv
python-multipart
google-generativeai
openai
pymongo
motor
flask-cors
